In [2]:
import pandas as pd

In [11]:
JOB_DEST = "../saved_data/fws_shuffled_10initial_test1_beta=100.csv"
fw_ids = pd.read_csv(JOB_DEST, header = None).values.tolist()[0]

all_done = monitor(fw_ids)
print(f"submitted {len(fw_ids)} jobs. sucessfully completed {sum(all_done)}.")
for done, fw_id in zip(all_done, fw_ids):
    if done:
        print(f"{fw_id} done")
    else:
        print(f"{fw_id} failed")

get_results(all_done, fw_ids, from_cloud=from_cloud)

[1, 2, 3, 4]

In [45]:
LOG_DEST = "../saved_data/fws_shuffled_10initial_KS_lin_beta=100.csv"

df=pd.read_csv(LOG_DEST, header = None).values.tolist()[0]
df

[5135, 5136, 5137, 5138]

In [44]:
fws = [5135,5136,5137,5138]
df = pd.DataFrame([fws]) 
df.to_csv(LOG_DEST,header = None, index=False)
df

      0     1     2     3
0  5135  5136  5137  5138

In [34]:
FLAG =[1]
df = pd.DataFrame(FLAG)
df.to_csv(FLAG_DEST,header = None, index=False)